[xeed.tools.claude]
# url: https://raw.githubusercontent.com/google-claude/claude-cli/refs/heads/main/Dockerfile

[xeed.tools.claude.vars]
DOCKERFILE_PATH: {xeed.vars.CACHE_DIR}/{xeed.vars.HASH}/xeed-claude.df
IMAGE_TAG: xeed-claude-cli:{xeed.vars.HASH}
LOG_PATH: {xeed.vars.CACHE_DIR}/{xeed.vars.HASH}/log
KEY_DIR: {xeed.vars.env.HOME}/.claude
HIST_FILE: {xeed.vars.env.HOME}/.claude.json
SETTINGS_PATH: {xeed.vars.CACHE_DIR}/{xeed.vars.HASH}/xeed-claude.json

# [xeed.tools.claude.cmds.claude/fetch]
# cmdstr: wget {xeed.tools.claude.url} -O {xeed.tools.claude.vars.DOCKERFILE_PATH}

[xeed.tools.claude.files.dockerfile]
path: {xeed.tools.claude.vars.DOCKERFILE_PATH}
contents:
  FROM node:20-slim
  ARG HOST_USER={xeed.vars.user.NAME}
  ARG HOST_UID={xeed.vars.user.UID}
  ARG HOST_GID={xeed.vars.user.GID}
  RUN userdel -f node
  RUN if getent group node; then groupdel node; fi
  RUN groupadd -g "$HOST_GID" "$HOST_USER"
  RUN useradd -m -u "$HOST_UID" -g "$HOST_GID" -s /bin/bash "$HOST_USER"
  RUN apt-get update
  RUN apt-get install -y git curl vim procps
  RUN rm -rf /var/lib/apt/lists/*
  RUN npm install -g @anthropic-ai/claude-code
  ENTRYPOINT ["claude"]
  USER {xeed.vars.user.NAME}

[xeed.tools.claude.cmds.claude/keydir]
type: xeed.types.tool.subtypes.clitool
cmdstr: mkdir -p {xeed.tools.claude.vars.KEY_DIR}

[xeed.tools.claude.cmds.claude/histfile]
depends_on: xeed.tools.claude.cmds.claude/keydir
type: xeed.types.tool.subtypes.clitool
cmdstr: touch {xeed.tools.claude.vars.HIST_FILE}

[xeed.tools.claude.cmds.claude/build]
depends_on: xeed.tools.claude.cmds.claude/histfile
type: xeed.types.tool.subtypes.templatetool
template: xeed.tools.docker.templates.build
DOCKERFILE_PATH: {xeed.tools.claude.vars.DOCKERFILE_PATH}
IMAGE_TAG: {xeed.tools.claude.vars.IMAGE_TAG}

[xeed.tools.claude.cmds.claude/cli]
type: xeed.types.tool.subtypes.templatetool
depends_on: xeed.tools.claude.cmds.claude/build
template: xeed.tools.docker.templates.run
EXTRA_RUN_ARGS: -v {xeed.tools.claude.vars.KEY_DIR}:{xeed.tools.claude.vars.KEY_DIR} -v {xeed.tools.claude.vars.HIST_FILE}:{xeed.tools.claude.vars.HIST_FILE}
IMAGE_TAG: {xeed.tools.claude.vars.IMAGE_TAG}
CONTAINER_CMD: claude {xeed.vars.cli.EXTRA_ARGS}

# [xeed.tools.claude.files.settings]
# path: {xeed.tools.claude.vars.SETTINGS_PATH}
# contents:
#   {
#     "tools": {
#       "allowed": [
#         "run_shell_command",
#         "write_file",
#         "read_file",
#         "search_file_.content",
#         "web_fetch",
#         "google_web_search"
#       ],
#       "approvalMode": "alwaysAsk"
#     }
