[xeed.tools.expo]
depends_on: xeed.tools.docker

[xeed.tools.expo.vars]
TAG: {xeed.vars.PROJECT}-expo:{xeed.vars.HASH}
DOCKERFILE_PATH: {xeed.vars.CACHE_DIR}/{xeed.vars.HASH}/xeed-expo.df
START_SCRIPT_PATH: {xeed.vars.CACHE_DIR}/{xeed.vars.HASH}/expo-start.sh

[xeed.tools.expo.cmds.expo/build]
type: xeed.types.tool.subtypes.templatetool
template: xeed.tools.docker.templates.build
DOCKERFILE_PATH: {xeed.tools.expo.vars.DOCKERFILE_PATH}
IMAGE_TAG: {xeed.tools.expo.vars.TAG}

[xeed.tools.expo.cmds.expo/web]
type: xeed.types.tool.subtypes.templatetool
depends_on: xeed.tools.expo.cmds.expo/build
template: xeed.tools.docker.templates.run
IMAGE_TAG: {xeed.tools.expo.vars.TAG}
EXTRA_RUN_ARGS: -p 8081:8081 -p 19006:19006 -e EXPO_NO_INTERACTIVE=1
CONTAINER_CMD: sh {xeed.tools.expo.vars.START_SCRIPT_PATH}

[xeed.tools.expo.files.dockerfile]
path: {xeed.tools.expo.vars.DOCKERFILE_PATH}
contents:
  FROM node:20-slim
  ARG HOST_USER={xeed.vars.user.NAME}
  ARG HOST_UID={xeed.vars.user.UID}
  ARG HOST_GID={xeed.vars.user.GID}
  RUN userdel -f node
  RUN if getent group node; then groupdel node; fi
  RUN groupadd -g "$HOST_GID" "$HOST_USER"
  RUN useradd -m -u "$HOST_UID" -g "$HOST_GID" -s /bin/bash "$HOST_USER"
  RUN apt-get update && apt-get install -y git && rm -rf /var/lib/apt/lists/*
  USER {xeed.vars.user.NAME}

[xeed.tools.expo.files.start_script]
path: {xeed.tools.expo.vars.START_SCRIPT_PATH}
contents:
  #!/bin/sh
  set -e
  cd src/native-app
  npm install
  node scripts/gen-questions.js
  exec npx expo start --web --host lan
