[xeed.tools.gemini]
# url: https://raw.githubusercontent.com/google-gemini/gemini-cli/refs/heads/main/Dockerfile
dockerfile: {xeed.cachedir}/{xeed.HASH}/xeed-gemini.df
tag: xeed-gemini-cli:{xeed.HASH}
log: {xeed.cachedir}/{xeed.HASH}/log
keydir: {xeed.env.HOME}/.gemini
settings_path: {xeed.cachedir}/{xeed.HASH}/xeed-gemini.json

# [xeed.tools.gemini.cmds.gemini/fetch]
# cmdstr: wget {xeed.tools.gemini.url} -O {xeed.tools.gemini.dockerfile}

[xeed.tools.gemini.files.dockerfile]
path: {xeed.tools.gemini.dockerfile}
contents:
  FROM node:20-slim
  ARG HOST_USER={xeed.user.NAME}
  ARG HOST_UID={xeed.user.UID}
  ARG HOST_GID={xeed.user.GID}
  RUN userdel -f node
  RUN if getent group node; then groupdel node; fi
  RUN groupadd -g "$HOST_GID" "$HOST_USER"
  RUN useradd -m -u "$HOST_UID" -g "$HOST_GID" -s /bin/bash "$HOST_USER"
  RUN apt-get update
  RUN apt-get install -y git curl vim procps
  RUN rm -rf /var/lib/apt/lists/*
  RUN npm install -g @google/gemini-cli
  ENTRYPOINT ["gemini"]
  # RUN groupadd -g {xeed.user.GID} {xeed.user.NAME}
  # RUN useradd -u {xeed.user.UID} -g {xeed.user.GID} {xeed.user.NAME}
  USER {xeed.user.NAME}

[xeed.tools.gemini.cmds.gemini/build]
cmdstr: docker build \
  -f {xeed.tools.gemini.dockerfile} \
  -t {xeed.tools.gemini.tag} \
  ./

[xeed.tools.gemini.cmds.gemini/cli]
cmdstr: {xeed.PREFIX} gemini/build > {xeed.tools.gemini.log} 2>&1 && \
  mkdir -p {xeed.tools.gemini.keydir} && \
  {xeed.PREFIX} docker run -it \
  -v {xeed.env.PWD}:{xeed.env.PWD} \
  -v {xeed.tools.gemini.keydir}:{xeed.tools.gemini.keydir} \
  -w {xeed.env.PWD} \
  {xeed.tools.gemini.tag} \
  gemini {xeed.cli.extra_args}

# [xeed.tools.gemini.files.settings]
# path: {xeed.tools.gemini.settings_path}
# contents:
#   {
#     "tools": {
#       "allowed": [
#         "run_shell_command",
#         "write_file",
#         "read_file",
#         "search_file_.content",
#         "web_fetch",
#         "google_web_search"
#       ],
#       "approvalMode": "alwaysAsk"
#     }