[xeed.tools.gemini]
# url: https://raw.githubusercontent.com/google-gemini/gemini-cli/refs/heads/main/Dockerfile

[xeed.tools.gemini.vars]
DOCKERFILE_PATH: {xeed.vars.CACHE_DIR}/{xeed.vars.HASH}/xeed-gemini.df
IMAGE_TAG: xeed-gemini-cli:{xeed.vars.HASH}
LOG_PATH: {xeed.vars.CACHE_DIR}/{xeed.vars.HASH}/log
KEY_DIR: {xeed.vars.env.HOME}/.gemini
SETTINGS_PATH: {xeed.vars.CACHE_DIR}/{xeed.vars.HASH}/xeed-gemini.json

# [xeed.tools.gemini.cmds.gemini/fetch]
# cmdstr: wget {xeed.tools.gemini.url} -O {xeed.tools.gemini.vars.DOCKERFILE_PATH}

[xeed.tools.gemini.files.dockerfile]
path: {xeed.tools.gemini.vars.DOCKERFILE_PATH}
contents:
  FROM node:20-slim
  ARG HOST_USER={xeed.vars.user.NAME}
  ARG HOST_UID={xeed.vars.user.UID}
  ARG HOST_GID={xeed.vars.user.GID}
  RUN userdel -f node
  RUN if getent group node; then groupdel node; fi
  RUN groupadd -g "$HOST_GID" "$HOST_USER"
  RUN useradd -m -u "$HOST_UID" -g "$HOST_GID" -s /bin/bash "$HOST_USER"
  RUN apt-get update
  RUN apt-get install -y git curl vim procps
  RUN rm -rf /var/lib/apt/lists/*
  RUN npm install -g @google/gemini-cli
  ENTRYPOINT ["gemini"]
  USER {xeed.vars.user.NAME}

[xeed.tools.gemini.cmds.gemini/build]
type: xeed.types.tool.subtypes.templatetool
template: xeed.tools.docker.templates.build
DOCKERFILE_PATH: {xeed.tools.gemini.vars.DOCKERFILE_PATH}
IMAGE_TAG: {xeed.tools.gemini.vars.IMAGE_TAG}

[xeed.tools.gemini.cmds.gemini/cli]
description: run the Gemini CLI in Docker
type: xeed.types.tool.subtypes.templatetool
depends_on: xeed.tools.gemini.cmds.gemini/build
template: xeed.tools.docker.templates.run
EXTRA_RUN_ARGS: -v {xeed.tools.gemini.vars.KEY_DIR}:{xeed.tools.gemini.vars.KEY_DIR}
IMAGE_TAG: {xeed.tools.gemini.vars.IMAGE_TAG}
CONTAINER_CMD: gemini {xeed.vars.cli.EXTRA_ARGS}

# [xeed.tools.gemini.files.settings]
# path: {xeed.tools.gemini.vars.SETTINGS_PATH}
# contents:
#   {
#     "tools": {
#       "allowed": [
#         "run_shell_command",
#         "write_file",
#         "read_file",
#         "search_file_.content",
#         "web_fetch",
#         "google_web_search"
#       ],
#       "approvalMode": "alwaysAsk"
#     }